<ion-view title="Bases">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header background">
    <ion-list class="basesType">
      <a class="item item-icon-left item-icon-right" ng-repeat="base in bases" ng-click="goToBase(base)">
        <i class="icon icon-icono-binilo"></i> {{base.title}}
        <i ng-show='!base.downloaded' class="icon icon-Icono-caset-2"></i>
      </a>
    </ion-list>
  </ion-content>
</ion-view>
