<ion-view title="{{title}}">
  <ion-nav-buttons side="left">
    <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
    
    <button ng-show="startRecordBtn" ng-click="startRecord()" class="button button-block icon-left ion-record button-assertive"><strong>GRABAR</strong></button>

    <button ng-show="stopRecordBtn" ng-click="stopRecord()" class="button button-block icon-left ion-stop button-energized ng-hide"><strong>PARAR</strong></button>

    <button ng-show="playRecordBtn" ng-click="playRecord()" class="button button-block icon-left ion-play button-calm ng-hide"><strong>PLAY</strong></button>
     <button ng-show="pauseRecordBtn" ng-click="pauseRecord()" class="button button-block icon-left ion-pause button-energized ng-hide"><strong>PAUSE</strong></button>

    <div ng-show="playRecordBtn" class="button-bar">
	  <a class="button button-balanced" ng-click="showSaveForm()">GUARDAR</a>
	  <a class="button button-assertive" ng-click="recordAgain()">VOLVER A GRABAR</a>
	</div>

    <form ng-submit="saveRecord()" ng-show="saveRecordBtn">

    	<label class="item item-input item-stacked-label">
		    <span class="input-label">Nombre:</span>
		    <input type="text" ng-model="record.name" placeholder="Pon un nombre a esta grabación."/>
	  	</label>

	    <label class="item item-input item-stacked-label">
		    <span class="input-label">Descripción:</span>
		    <textarea placeholder="Pon una descripción a esta grabación." ng-model="record.text"></textarea>
	  	</label>

	    <label class="item">
          <button class="button button-block button-positive" type="submit">Guardar</button>
        </label>
  	</form>
  </ion-content>
</ion-view> 