<ion-view view-title="Raps">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="primary">
    <button  class="button button-icon ion-ios-compose-outline" ng-click="data.showDelete = !data.showDelete; data.showReorder = !data.showReorder; data.edit = !data.edit">
    </button>
  </ion-nav-buttons>
  <ion-content>
    <ion-list show-delete="data.showDelete" show-reorder="data.showReorder">
      <ion-item ng-repeat="rap in raps" item="rap" class="item-remove-animate" ng-click="!data.edit? open(rap) : ''">
        <div ng-click="open(rap)">
          {{rap.name}}
        </div>
        <ion-delete-button class="ion-minus-circled" ng-click="onItemDelete(rap)">
        </ion-delete-button>
        <ion-option-button class="button-calm" ng-click="share(rap)">
          Compartir
        </ion-option-button>
        <ion-reorder-button class="ion-navicon" on-reorder="moveItem(rap, $fromIndex, $toIndex)"></ion-reorder-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
