<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Grabado con éxito.</h1>
  </ion-header-bar>
  <ion-content class="has-header">
    <div audio-player></div>
    <p>
      ¿Qué quieres hacer con esta grabación?
    </p>
    
    <div ng-show="playRecordBtn" class="button-bar">
      <a class="button button-balanced" ng-click="showSaveForm()">GUARDAR</a>
      <a class="button button-assertive" ng-click="recordAgain()">VOLVER A GRABAR</a>
    </div>
    <form ng-submit="saveRecord()" ng-show="saveRecordBtn">
      <label class="item item-input item-stacked-label">
        <span class="input-label">Nombre:</span>
        <input type="text" ng-model="record.name" placeholder="Pon un nombre a esta grabación." />
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Descripción:</span>
        <textarea placeholder="Pon una descripción a esta grabación." ng-model="record.text"></textarea>
      </label>
      <label class="item">
        <button class="button button-block button-positive" type="submit">Guardar</button>
      </label>
    </form>
  </ion-content>
</ion-modal-view>
