<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Guardado con éxito.</h1>
  </ion-header-bar>
  <ion-content class="has-header">
    <p>
      Se ha guardado la grabación en tu móvil, ¿Qué quieres hacer ahora?
    </p>

    <div class="button-bar">
      <a class="button button-block ion-record button-assertive" href="#/app/record" ng-click="closeModal()">Grabar otro</a>
      <a class="button button-block button-dark icon-right ion-chevron-right" href="#/app/raps" ng-click="closeModal()">Ver mis grabaciones</a>
    </div>


  </ion-content>
</ion-modal-view>
