<ion-view>
  <ion-content class="login background">
    <div class="list list-inset">
      <div class="item title" ng-if="!isFirstPasswordChange">
        <img class="logo" src="img/logo.png" /><span>Cambiar la contraseña</span>
      </div>
      <div class="item title" ng-if="isFirstPasswordChange">
        <img class="logo" src="img/logo.png" /><span>Una última cosa...</span>
      </div>
      <div class="item" ng-if="isFirstPasswordChange" style="white-space:normal">
        <small>Te mandamos un email con una contraseña temporal. Por favor cámbiala.</small>
      </div>
      <label class="item item-input">
        <i class="icon ion-android-lock placeholder-icon"></i>
        <input type="password" placeholder="{{ passwordPlaceholder }}" ng-model="user.oldPassword">
      </label>
      <label class="item item-input">
        <i class="icon ion-android-lock placeholder-icon"></i>
        <input type="password" placeholder="Nueva contraseña" ng-model="user.newPassword">
      </label>
      <div class="item">
        <button class="button button-balanced button-block" ng-click="done()">
          Hecho!
        </button>
      </div>
    </div>
    <div class="padding">
      <a ng-href="#" ui-sref="login" nav-direction="back" nav-transition="ios" class="button button-dark button-block">
      Cancelar
    </a>
    </div>
  </ion-content>
</ion-view>
