<ion-content class="background login">
  <div class="list list-inset">
    <div class="item">
      <img src="img/logo.png" style="width: 100px;" />
    </div>
    <label class="item item-input">
      <i class="icon ion-email placeholder-icon"></i>
      <input type="email" placeholder="Email" ng-model="user.email">
    </label>
    <label class="item item-input">
      <i class="icon ion-android-lock placeholder-icon"></i>
      <input type="password" placeholder="Contraseña" ng-model="user.password">
    </label>
    <div class="item">
      <button class="button button-balanced button-block" ng-click="login()">
        Entrar
      </button>
      <p><a href="#">Olvidé mi contraseña</a></p>
    </div>
  </div>
  <div class="padding">
    <a ng-href="#/signup" class="button button-stable ion-person-add button-block button-small">
      Regístrate
    </a>
    <div class="error" ng-if="errorMessage" ng-bind="errorMessage">
    </div>
    <button class="button ion-social-facebook button-positive button-block">
      Entra con facebook
    </button>
    <button class="button ion-social-twitter button-calm button-block">
      Entra con twitter
    </button>
    <button class="button ion-social-googleplus button-assertive button-block">
      Entra con google +
    </button>
  </div>
</ion-content>
