<ion-view>
  <ion-content class="login background">
    <div class="list list-inset">
      <div class="item title">
        <img class="logo" src="img/logo.png" /><span>Reiniciar contraseña</span>
      </div>
      <label class="item item-input">
        <i class="icon ion-email placeholder-icon"></i>
        <input type="email" placeholder="Email" ng-model="user.email">
      </label>
      <div class="item">
        <button class="button button-balanced button-block" ng-click="resetPassword()">
          OK
        </button>
      </div>
    </div>
    <div class="padding">
      <a ng-href="#" ui-sref="login" ng-if="!emailSent" class="button button-dark button-block">
      Cancelar
    </a>
    </div>
  </ion-content>
</ion-view>
