<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Grabado con éxito.</h1>
  </ion-header-bar>
  <ion-content class="has-header">
    <div class="list card">
      <div class="item">
        <h2><i class="icon ion-ios-musical-notes"></i> {{name || '--'}}</h2>
        <p>{{path || '--'}}</p>
      </div>
      <div class="item item-body">
        <div ng-hide="loaded">
          <label>Error al grabar el audio. {{loaded}}</label>
        </div>
        <div ng-show="loaded" style="height: 30px; width: {{position}}%; transition: width 0.2s; background: #e42012;">
        </div>
      </div>
      <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item" href="javascript:" ng-click="resumeAudio()" ng-hide="isPlaying || !loaded">
          <i class="icon ion-ios-play"></i> Play
        </a>
        <a class="tab-item" href="javascript:" ng-click="pauseAudio()" ng-show="isPlaying">
          <i class="icon ion-pause"></i> Pause
        </a>
        <a class="tab-item" href="javascript:" ng-click="stopAudio()" ng-show="isPlaying">
          <i class="icon ion-stop"></i> Stop
        </a>
      </div>
    </div>
    <div audio-player></div>
    <p>
      ¿Qué quieres hacer con esta grabación?
    </p>
    <div ng-show="playRecordBtn" class="button-bar">
      <a class="button button-balanced" ng-click="showSaveForm()">GUARDAR</a>
      <a class="button button-assertive" ng-click="recordAgain()">VOLVER A GRABAR</a>
    </div>
    <form ng-submit="saveRecord()" ng-show="saveRecordBtn">
      <label class="item item-input item-stacked-label">
        <span class="input-label">Nombre:</span>
        <input type="text" ng-model="record.name" placeholder="Pon un nombre a esta grabación." />
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Descripción:</span>
        <textarea placeholder="Pon una descripción a esta grabación." ng-model="record.text"></textarea>
      </label>
      <label class="item">
        <button class="button button-block button-positive" type="submit">Guardar</button>
      </label>
    </form>
  </ion-content>
</ion-modal-view>
