.bases {
  .list {
    .item {
      background-color: rgba(0, 0, 0, 0.5);
      border-color: $border-color;
      color: whitesmoke;
      margin: 10px;
    }
    .item.activated {
      background-color: rgba(0, 0, 0, 0.7);
    }
  }
}

.base-details {
  .item {
    background-color: $menu-background-color;
    img {
      width: 100%;
    }
    .title {
      color: #FFF;
      margin: 0 auto;
      text-align: center;
      padding: 5px;
    }
  }
}
