.menu {
  background-color: $menu-background-color;
  .list {
    .item-content {
      background-color: $menu-background-color;
      border-color: $border-color;
      color: whitesmoke;
    }
    .item {
      border-color: $border-color;
    }
    .item-content.activated {
      background-color: rgba(0, 0, 0, 0.7);
    }
  }
}
