.popup-container .popup {
  background-color: $popup-background-color;
  border: 1px solid $border-color;
  color: whitesmoke;
  h3 {
    color: whitesmoke;
  }
  .button-positive {
    border-color: $popup-button-border-color;
    background-color: $popup-button-color;
  }
  .popup-head {
    background-color: $balanced;
  }
}

.popup-container.error {
  .popup-head {
    background-color: $error_header;
  }
}
