<ion-view title="Rapp">
  <ion-content scroll="false" class="home">
    <div class="feedback">
      <a href="#/login" class="button button-icon icon ion-person button-calm"></a>
      <a ng-click="openSettings()" class="button button-icon icon ion-gear-b button-calm"></a>
    </div>
    <ion-slide-box auto-play="true" does-continue="true">
      <ion-slide ng-repeat="item in menu">
        <div class="box {{item.background}}">
          <div class="row responsive-sm box box-dark">
            <div class="col"></div>
            <div class="col col-center col-50">
              <div class="{{item.background}}"></div>
              <span>{{item.description}}</span>
              <div class="button button-block button-balanced" nav-direction="forward" nav-transition="ios" ui-sref="{{item.state}}">{{item.name}}</div>
            </div>
            <div class="col"></div>
          </div>
        </div>
      </ion-slide>
    </ion-slide-box>
  </ion-content>
</ion-view>
